---
import ContactForm from "../components/ContactForm.astro"
import Hero from "../components/home/Hero.astro"
import Section from "../components/home/Section.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Keeghan McGarry - Digital Portfolio">
  <Hero />
  <Section
    title="Introduction"
    colorStart="#eb3a02"
    colorEnd="#c738c7"
    icon="fluent:brain-circuit-20-regular"
    scroller={false}
    anchor="intro"
  >
    <div class="flow">
      <p>
        What is this space? It's not just a portfolio. It's a collection of my
        adventures in technology, a testament to my continuous learning and
        growth. You'll find a showcase of projects I've worked on, updates about
        the events I'll be attending, and my musings about the intersection of
        tech, business, and the world around us in my blog and newsletter.
      </p>
      <p>
        My current fascination? Unraveling the potential of artificial
        intelligence in business and product. So, stick around, explore a bit,
        and join me as I navigate this constantly evolving tech landscape. Let's
        dive into this exciting world of technology together!
      </p>
    </div>
  </Section>
  <Section
    title="Who Am I?"
    colorStart="#c738c7"
    colorEnd="blue"
    icon="fluent:person-circle-20-regular"
    scroller={true}
    anchor="who"
  >
    <div class="flow">
      <p>
        I'm Keeghan McGarry, a New Zealand native now calling Liverpool, England
        home. I’m a tech enthusiast, chess competitor, and the mastermind behind
        many a Dungeons & Dragons campaign. But let's dive a little deeper into
        the mix.
      </p>
      <p>
        One of my core beliefs is that tech should be as much about people as it
        is about coding. It's this guiding philosophy that's seen me through
        over a decade in the industry, starting in software engineering and
        evolving into roles where tech and people intersect. Whether it’s
        bringing a data-driven mindset to a growing startup, or writing code for
        a chess training website that’s been embraced by hundreds of users - I
        love getting my hands dirty and seeing the impact of my work.
      </p>
      <p>
        I believe in jumping in and figuring things out along the way. My
        journey has taught me that success isn't about avoiding failure, but
        about learning, adapting, and growing from it. But it's not all about
        the work. Just as I love adding a dash of tech to my D&D campaigns, I'm
        all about blending creativity and strategy in my professional life too.
        It's this balance that keeps me ticking.
      </p>
      <p>
        What's next on the horizon? I see a future filled with AI, a role as a
        CTO, a portfolio of small businesses running tech I’ve crafted, and
        hopefully a lot more public speaking. Through it all, I’ll keep asking
        the big questions, pushing boundaries, and having a blast along the way.
      </p>
      <p>
        So, if you’re looking for the short version, here it is - I’m a
        tech-loving, chess-playing, never-satisfied kind of guy, always ready
        for the next adventure. Let’s see where the journey takes us!!
      </p>
    </div>
  </Section>

  <Section
    title="Projects"
    colorStart="blue"
    colorEnd="green"
    icon="fluent:cloud-checkmark-20-regular"
    scroller={true}
    anchor="projects"
  >
    <div class="flow">
      <p>
        Welcome to my sandbox, a playground where curiosity meets code! This is
        where I let my ideas run wild, bringing together passions, experiments,
        and some pretty nifty tech. From integrating AI into business
        strategies, to sprinkling a dash of technology into the world of chess
        and D&D, my personal projects are a testament to my exploration of the
        tech world.
      </p><p>
        Dive in and discover a collection of passion projects and innovative
        solutions. Each tile you see here tells a story of learning,
        experimentation, and success. They represent the journey, the
        breakthroughs, and the moments when an idea becomes a reality. So, get
        ready to explore - there's a whole world of creation waiting for you!
      </p>
      <button id="openProjects">See all projects</button>
    </div>
  </Section>
  <Section
    title="Talks & Events"
    colorStart="green"
    colorEnd="red"
    icon="fluent:presenter-20-regular"
    scroller={true}
    anchor="talks"
  >
    <div class="flow">
      <p>
        While this section may be empty for now, it represents an exciting
        frontier that I'm eagerly exploring. I have a strong desire to connect
        with like-minded individuals, industry professionals, and technology
        enthusiasts through speaking engagements, conferences, and events.
      </p><p>
        Stay tuned as this space will soon be filled with updates on upcoming
        talks, workshops, and conferences where you can catch me sharing my
        expertise on various topics, ranging from technology trends and business
        strategies to the convergence of AI and everyday life. Together, let's
        embark on a journey of learning, collaboration, and inspiration.
      </p>
    </div>
  </Section>
  <Section
    title="Get In Touch"
    colorStart="red"
    colorEnd="yellow"
    icon="fluent:send-20-regular"
    scroller={true}
    anchor="contact"
  >
    <ContactForm />
  </Section>
</Layout>

<script src="https://web3forms.com/client/script.js" async defer></script>
<script>
  document.getElementById("openProjects")?.addEventListener("click", () => {
    window.location.href = "/projects"
  })
</script>

<style>
  .intro {
    min-height: 30vh;
  }
  button {
    background: black;
    color: white;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--endCol);
    cursor: pointer;
    position: relative;
  }
  button::after {
    content: "";
    box-shadow: 0 0 20px 0px var(--endCol);
    opacity: 0;
    transition: opacity 300ms ease-out;
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  button:hover::after {
    opacity: 1;
  }
</style>
